$footer-height: 60px;
$white: #fff;
$primary: #42b983;
$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$body-color: #304455;
$gray-light: #f6f6f6;
$gray-dark: #273849;
$text-gray: #64778a;
$dark: $gray-dark;
$shadow-small: 0 4px 8px 0 rgba($dark, 0.2);
$shadow-big: 0 12px 20px 0 rgba($dark, 0.3);
$mobile-breakpoint: 768px;